@using MotoGP.Models.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<MotoGP.Models.ViewModels.ListRacesViewModel>
@{

}

<div>



@*
    @foreach(Movie item in Model)
    {   
        <h3>
            
            @(Html.DisplayFor(modelItem => race.Date))
        </h3>
        <p>
            @race.Date
        <a asp-controller="Info" asp-action="ShowRace" asp-route-id="@race.RaceID" alt="@race.Name">
            @race.Name
        </a>
        </p>
    }
*@

@foreach (ListRacesViewModel listInMonth in Model)
{
    <h3>
        @(Html.DisplayFor(modelItem => @listInMonth.MonthName))
    </h3>

    @foreach (Race item in listInMonth.Races)
   {
       <p>
            @(Html.DisplayFor(modelItem => @item.Date))
        <a 
            asp-controller="Info" 
            asp-action="ShowRace" 
            asp-route-id="@item.RaceID" 
            alt="@item.Name">
             @(Html.DisplayFor(modelItem => @item.Name))
        </a>
        </p>
       
   }

    
}

</div>

<p>
    Please fill out following fields:
</p>

<p>
    <a asp-controller="Home" asp-action="Menu" >
        Back
    </a>
    |
    <a asp-controller="Info" asp-action="BuildMap" >
        Races on map
    </a>
    |
    <a asp-controller="Home" asp-action="Menu" >
        One by one
    </a>
</p>