@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MotoGP.Models.ViewModels.CountriesForTicketsViewModel

@{
}

<form asp-action="ConfirmOrder">
    <table>
        <tr>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>
                <label asp-for="Ticket.Name"> @Html.DisplayNameFor(model => model.Ticket.Name) </label>
                
            </td>
            <td>
                <input asp-for="Ticket.Name"/>
                
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Ticket.Email"> @Html.DisplayNameFor(model => model.Ticket.Email) </label>
            </td>
            <td>
                <input asp-for="Ticket.Email"/>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Ticket.Address"> @Html.DisplayNameFor(model => model.Ticket.Address) </label>
            </td>
            <td>
                <input asp-for="Ticket.Address"/>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="CountryID"> @Html.DisplayNameFor(model => model.CountryID) </label> 
            </td>
            <td>
                <select asp-for="CountryID" asp-items="Model.Countries">
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Races"> @Html.DisplayNameFor(model => model.Races) </label> 
            </td>
            <td>
                @foreach (var item in Model.Races)
               {
                <input type="radio" asp-for="@Model.RaceID" value="@item.RaceID"/> @item.Name
                <br />
               }
                
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Ticket.Number"> @Html.DisplayNameFor(model => model.Ticket.Number) </label>
            </td>
            <td>
                @for (var i = 1; i <= 6; i++)
               {
                <input type="radio" asp-for="Ticket.Number" value="@i"/> @i
               }

            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <input type="submit" value="Order"/>
            </td>
        </tr>
    </table>

</form>
<br/>
<a href='javascript:history.go(-1)'>Go Back</a>
